@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/* Body styling */
body {
    color: #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
/* Root variables */
:root {
    --white: #faf0e6;
    --black: #000000; 
}
.header {
  overflow: hidden;
  background-color: #000000;
  padding: 20px 10px;
}

.header a {
  position: relative;
  color:rgb(48, 18, 77);
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}
.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: #000000;
  color: silver;

}
/* Navigation bar styling */
.navbar {
    text-align: center;
    font-size: bold;
    font-weight: 700;
    background-color: black;
    color: #f1f1f1;
}
.navbar, ul li {
    float: none;
}
/* Our home page hero image */
/* Basquiat skateboard art, owner Basquiat via https://www.yoox.com/ */
.hero-image {
    background: url("https://secure.social.yoox.it/yspecial/art-editorial/basquiat/4.jpg") no-repeat center;
    background-size: cover;
    width: 100%;
    height: 1000px;
    position: relative;
}
.responsive {
  max-width: 100%;
  height: auto;
}
/* Hero image text styling */
.col-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
/* Media querie */
/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
/* For tablets: */
@media only screen and (min-width: 600px){
.col-s-1 {width: 8.33%;}
.col-s-2 {width: 16.66%;}
.col-s-3 {width: 25%;}
.col-s-4 {width: 33.33%;}
.col-s-5 {width: 41.66%;}
.col-s-6 {width: 50%;}
.col-s-7 {width: 58.33%;}
.col-s-8 {width: 66.66%;}
.col-s-9 {width: 75%;}
.col-s-10 {width: 83.33%;}
.col-s-11 {width: 91.66%;}
.col-s-12 {width: 100%;}
}
/* For desktop: */
@media only screen and (min-width: 768px){
.col-s-1 {width: 8.33%;}
.col-s-2 {width: 16.66%;}
.col-s-3 {width: 25%;}
.col-s-4 {width: 33.33%;}
.col-s-5 {width: 41.66%;}
.col-s-6 {width: 50%;}
.col-s-7 {width: 58.33%;}
.col-s-8 {width: 66.66%;}
.col-s-9 {width: 75%;}
.col-s-10 {width: 83.33%;}
.col-s-11 {width: 91.66%;}
.col-s-12 {width: 100%;}    
}
/* Album col */
.badge {
    background-color: green;
}
div {
    text-align: center;
}
/* iframe video styling */
.container {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 62.5%; /* 8:5 Aspect Ratio */
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 560;
  height: 100%;
  border: none;
}
/* Table styling */
/*|| END OF PAGE Footer */
.footer {
    padding: 1em;
    background-color: #000000;
    margin-top: 20px;
    margin: 0 auto;
    position: relative;
}
/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}
/* Sign in form styling */
.container, form {
    background-color: #f1f1f1;
    color: #000000;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    text-align: left;
    padding: 1em;
    margin: 0 auto;

}
* {box-sizing: border-box;}

.form-inline {    
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.form-inline label {
  margin: 5px 10px 5px 0;
}

.form-inline input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.form-inline button {
  padding: 10px 20px;
  background-color: dodgerblue;
  border: 1px solid #ddd;
  color: white;
  cursor: pointer;
}

.form-inline button:hover {
  background-color: royalblue;
}

@media (max-width: 800px) {
.form-inline input {
    margin: 10px 0;
  }
  
.form-inline {
    flex-direction: column;
    align-items: stretch;
  }
}
/* Contact form styling */
* {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}
/* Discography styling */
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
    padding: 1rem;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: left;
  background-color: #f1f1f1;
}
/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* Contact page container styling*/
* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  color: #000000;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
